*{
	margin: 0;
	padding: 0;
}

header{
	display: flex;
	background: #1E90FF;
	position: fixed;
	top: 0px;
	height: 20px;
	width: 97%;
	margin-top: 0px;
	padding: 20px;
	align-items: center;

}

.main_menu{
    float: left;
}

.menu{
    font-size: 30px;
    color: #191970;
    text-decoration: none;
}

.menu:hover{
    color: #B22222;
}

.products{
	display: flex;
	min-height: 100px;
	width: 100%;
	padding: 100px;
	flex-direction: column;
}

.prod_item{
	display: flex;
	width: 90%;
	margin: 10px 0;
	box-shadow: 0 0 6px 1px lightblue;
	justify-content: space-between;
}

.item{
	display: flex;
	margin-left: 10px;
	width: 50%
}

.img_item{
	width: 50%
}

.image{
	height: 100%;
	max-height: 200px;
}

.description{
	height: 100%;
	margin-left: 30px;
}

.description h4{
	font-size: 2em;
	padding: 10px 0;
}

.price{
	color: darkslateblue;
}

.price span{
	font-size: 3em;
}

.buy-btn{
	display: block;
	width: 100%;
	background: #1E90FF;
	padding: 10px;
	text-align: center;
	font-size: larger;
	cursor: pointer;
    border: #1E90FF;
}

.buy-btn:hover{
	background: #87CEFA;
    color: red;
	font-weight: bold;
}

.sale{
	display: flex;
	width: 15%;
	flex-direction: column;
	align-items: flex-end;
    justify-content: inherit;
	margin: 10px;
}

footer{
	display: flex;
	background: #1E90FF;
	position: fixed;
	bottom: 0px;
	height: 10px;
	width: 97%;
	margin-top: 30px;
	padding: 20px;
	align-items: center;
	justify-content: left;
	color: #191970;
	font-weight: bold;
}
