*{
	margin: 0;
	padding: 0;
}

header{
	display: flex;
	background: #1E90FF;
	position: fixed;
	top: 0px;
	height: 40px;
	width: 97%;
	margin-top: 0px;
	padding: 20px;
	align-items: center;
	justify-content: space-between;
	font-size: 30px;
}

.product_sum{
	color: darkred;
	font-weight: bold;
	font-size: 30px;
}

.main_menu{
    float: left;
}

.products{
	display: flex;
	min-height: 100px;
	width: 80%;
	padding: 100px;
	flex-direction: column;
	font-size: larger;
}

.buy-btn{
	display: block;
	width: 100%;
	background: #1E90FF;
	padding: 10px;
	text-align: center;
	font-size: larger;
	cursor: pointer;
    border: #1E90FF;
}

.buy-btn:hover{
	background: #87CEFA;
    color: darkred;
	font-weight: bold;
}

footer{
	display: flex;
	background: #1E90FF;
	position: fixed;
	bottom: 0px;
	height: 10px;
	width: 97%;
	margin-top: 30px;
	padding: 20px;
	align-items: center;
	justify-content: left;
	color: #191970;
	font-weight: bold;
}

h1{
	color: rgb(0, 0, 0);
	width: 100%;
	margin: 0 auto;
	display: block;
	text-align: center;
	padding: 30px 0 0;
}

h3{
	color: rgb(0, 0, 0);
	display: block;
	padding: 20px;
	margin: 20px;
	border: 1px dotted rgb(0, 0, 0);
	border-radius: 5px;
	font-weight: 200;
	width: 100%;
	background: rgb(197, 178, 178);
}